

body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;

    display:flex;
    align-items: center;
    justify-content: center;
    margin: 0;
    height: 100vh;

    background-color: black;

}

#container {
    display:flex;
    align-items: center;
    justify-content: center;

    flex-direction: column;

    height: 500px;
    width: 500px;

    background-color: white;

    border-radius: 15px;
}

button {
    height: 50px;
    width: 100px;
    margin-bottom: 30px;
}