

body {
    font-family: 'Roboto', sans-serif;

    display:flex;
    align-items: center;
    justify-content: center;
    margin: 0;
    height: 100vh;



    background-color: rgb(255, 182, 231);

}

#container {
    display:flex;
    align-items: center;
    justify-content: center;

    flex-direction: column;

    height: 600px;
    width: 500px;

    background-color: white;

    border-radius: 15px;

    line-height: 1.6;

    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

button {
    height: 100px;
    width: 100px;
    margin-bottom: 30px;

    border-radius: 5px;
    background-color: white;
    border: 3px solid rgb(248, 191, 239);

    font-size: 75px;

    
}

button:hover {
    background-color: rgb(248, 191, 239);
}

#game-result {
    font-size: 30px;
}

button {
    cursor: pointer;
}

#play-button, #computer-button{
    display: flex;
    gap: 30px;
}

#scoreboard {
    display: flex;
    flex-direction: column;

    height:100px;
    width:300px;

    

}

#scorename, #score {
    display: flex;
    justify-content: space-between;

    font-size: 20px;
}

#you, #com, #player-score, #computer-score{
    width:130px;
    text-align: center;
    background-color: pink;
}

#player-score, #computer-score {
    font-size: 35px;
}

#round-result {
    margin: 10px;
}

